In [133]:
import pandas as pd
import numpy as np

In [134]:
data=pd.read_csv('test_main.csv')

In [135]:
data.head()

       Area  BHK  Floor  Land Size      Price
0  Alinagar    4      1  2000 sqft    ?70 Lac
1  Alinagar    6      2  2500 sqft  ?70.0 Lac
2  Alinagar    5      3  2000 sqft  ?65.0 Lac
3  Alinagar    3      1  1500 sqft    ?45 Lac
4  Alinagar    4      2  1500 sqft    ?55 Lac

In [136]:
data.shape

(695, 5)

In [137]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 695 entries, 0 to 694
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Area       695 non-null    object
 1   BHK        695 non-null    int64
 2   Floor      695 non-null    int64
 3   Land Size  695 non-null    object
 4   Price      695 non-null    object
dtypes: int64(2), object(3)
memory usage: 27.3+ KB

In [138]:
for column in data.columns:
    print(data[column].value_counts())
    print("*"*20)

Betiahata                                                         47
Chargawa                                                          42
Taramandal                                                        38
Kunraghat                                                         36
Daudpur                                                           34
                                                                  ..
Opp Aakashwani CoLacony,Rapti Nagar III, Basharatpur,Gorakhpur     1
Hasanganj                                                          1
Humayunpur North                                                   1
Jatepur North                                                      1
Main market sahjanwa,Transport Nagar                               1
Name: Area, Length: 77, dtype: int64
********************
2     144
4     138
3     137
5      88
6      57
7      29
1      29
10     28
8      22
9       9
11      4
12      2
17      1
21      1
18      1
16      1
25      1
24      1
14      1
13      1
Name: BHK, dtype: int64
********************
2    323
1    207
3    150
4     15
Name: Floor, dtype: int64
********************
1500 sqft    33
1000 sqft    30
2100 sqft    27
400 sqft     20
2000 sqft    17
             ..
6199 sqft     1
980 sqft      1
2570 sqft     1
3080 sqft     1
734 sqft      1
Name: Land Size, Length: 137, dtype: int64
********************
?70 Lac     28
?65 Lac     28
?1.25 Cr    16
?40 Lac     14
?90 Lac     13
            ..
?2.1 Cr      1
?2.7Cr       1
?2.32 Cr     1
?88 Lac      1
?58 Lac      1
Name: Price, Length: 173, dtype: int64
********************

In [139]:
data.isna().sum()
data.isnull().sum(axis = 0)

Area         0
BHK          0
Floor        0
Land Size    0
Price        0
dtype: int64

In [140]:
data.describe()

              BHK       Floor
count  695.000000  695.000000
mean     4.342446    1.961151
std      2.736902    0.774179
min      1.000000    1.000000
25%      3.000000    1.000000
50%      4.000000    2.000000
75%      5.000000    2.000000
max     25.000000    4.000000

In [141]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 695 entries, 0 to 694
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Area       695 non-null    object
 1   BHK        695 non-null    int64
 2   Floor      695 non-null    int64
 3   Land Size  695 non-null    object
 4   Price      695 non-null    object
dtypes: int64(2), object(3)
memory usage: 27.3+ KB

In [142]:
data[data.BHK > 20]

                                  Area  BHK  Floor  Land Size     Price
504                          MughaLaca   24      3  2000 sqft   ?1.4 Cr
554                      Qazipur Khurd   25      3  1100 sqft   ?1.5 Cr
650  shivpur shahbajganj,Hussain Nagar   21      2  3423 sqft  ?1.15 Cr

In [143]:
data['Land Size'].unique()

array(['2000 sqft', '2500 sqft', '1500 sqft', '760 sqft', '1322 sqft',
       '1467 sqft', '1600 sqft', '1234 sqft', '1501 sqft', '1662 sqft',
       '1880 sqft', '4786 sqft', '4200 sqft', '988 sqft', '755 sqft',
       '3308 sqft', '3168 sqft', '2368 sqft', '750 sqft', '950 sqft',
       '1300 sqft', '1410 sqft', '400 sqft', '2100 sqft', '2360 sqft',
       '1470 sqft', '1200 sqft', '744 sqft', '832 sqft', '1530 sqft',
       '2025 sqft', '3033 sqft', '1480 sqft', '1230 sqft', '3100 sqft',
       '1820 sqft', '1900 sqft', '850 sqft', '2140 sqft', '3600 sqft',
       '8000 sqft', '1250 sqft', '700 sqft', '1050 sqft', '1100 sqft',
       '1400 sqft', '2050 sqft', '1800 sqft', '3000 sqft', '900 sqft',
       '2300 sqft', '800 sqft', '2900 sqft', '1350 sqft', '1420 sqft',
       '2450 sqft', '2200 sqft', '1850 sqft', '1700 sqft', '2400 sqft',
       '1980 sqft', '1000 sqft', '741 sqft', '1680 sqft', '600 sqft',
       '1150 sqft', '5000 sqft', '4300 sqft', '1270 sqft', '1650 sqft',
       '3200 sqft', '1744 sqft', '1478 sqft', '4000 sqft', '1158 sqft',
       '2840 sqft', '550 sqft', '1440 sqft', '5200 sqft', '1055 sqft',
       '826 sqft', '3342 sqft', '1732 sqft', '931 sqft', '1070 sqft',
       '2332 sqft', '2448 sqft', '5072 sqft', '6014 sqft', '1378 sqft',
       '6199 sqft', '3800 sqft', '1173 sqft', '6040 sqft', '640 sqft',
       '660 sqft', '270 sqft', '913 sqft', '980 sqft', '1620 sqft',
       '2570 sqft', '3080 sqft', '5400 sqft', '540 sqft', '2520 sqft',
       '1720 sqft', '7500 sqft', '603 sqft', '9000 sqft', '6500 sqft',
       '7000 sqft', '7700 sqft', '1468 sqft', '888 sqft', '450 sqft',
       '2834 sqft', '1725 sqft', '703 sqft', '5100 sqft', '2640 sqft',
       '915 sqft', '1753 sqft', '4716 sqft', '3520 sqft', '2250 sqft',
       '500 sqft', '4600 sqft', '3450 sqft', '4700 sqft', '1825 sqft',
       '1090 sqft', '1004 sqft', '1312 sqft', '1106 sqft', '3423 sqft',
       '825 sqft', '734 sqft'], dtype=object)

In [144]:
data.head()

       Area  BHK  Floor  Land Size      Price
0  Alinagar    4      1  2000 sqft    ?70 Lac
1  Alinagar    6      2  2500 sqft  ?70.0 Lac
2  Alinagar    5      3  2000 sqft  ?65.0 Lac
3  Alinagar    3      1  1500 sqft    ?45 Lac
4  Alinagar    4      2  1500 sqft    ?55 Lac

In [145]:
data['Price(in Lakhs)'] =data['Price'].astype('str').str.extractall('(\d+)').unstack().fillna('').sum(axis=1).astype(int)

In [146]:
data.head()

       Area  BHK  Floor  Land Size      Price  Price(in Lakhs)
0  Alinagar    4      1  2000 sqft    ?70 Lac             70.0
1  Alinagar    6      2  2500 sqft  ?70.0 Lac            700.0
2  Alinagar    5      3  2000 sqft  ?65.0 Lac            650.0
3  Alinagar    3      1  1500 sqft    ?45 Lac             45.0
4  Alinagar    4      2  1500 sqft    ?55 Lac             55.0

In [147]:
data['Price(in Lakhs)']=data['Price(in Lakhs)']/10

In [148]:
data.head()

       Area  BHK  Floor  Land Size      Price  Price(in Lakhs)
0  Alinagar    4      1  2000 sqft    ?70 Lac              7.0
1  Alinagar    6      2  2500 sqft  ?70.0 Lac             70.0
2  Alinagar    5      3  2000 sqft  ?65.0 Lac             65.0
3  Alinagar    3      1  1500 sqft    ?45 Lac              4.5
4  Alinagar    4      2  1500 sqft    ?55 Lac              5.5

In [149]:
data['Price(in Lakhs)'] = data['Price(in Lakhs)'].apply(lambda x : x*100 if x < 10 else x)

In [150]:
data.head()

       Area  BHK  Floor  Land Size      Price  Price(in Lakhs)
0  Alinagar    4      1  2000 sqft    ?70 Lac            700.0
1  Alinagar    6      2  2500 sqft  ?70.0 Lac             70.0
2  Alinagar    5      3  2000 sqft  ?65.0 Lac             65.0
3  Alinagar    3      1  1500 sqft    ?45 Lac            450.0
4  Alinagar    4      2  1500 sqft    ?55 Lac            550.0

In [151]:
data['Size(in sq.ft)'] = data['Land Size']

In [152]:
data.head()

       Area  BHK  Floor  Land Size      Price  Price(in Lakhs) Size(in sq.ft)
0  Alinagar    4      1  2000 sqft    ?70 Lac            700.0      2000 sqft
1  Alinagar    6      2  2500 sqft  ?70.0 Lac             70.0      2500 sqft
2  Alinagar    5      3  2000 sqft  ?65.0 Lac             65.0      2000 sqft
3  Alinagar    3      1  1500 sqft    ?45 Lac            450.0      1500 sqft
4  Alinagar    4      2  1500 sqft    ?55 Lac            550.0      1500 sqft

In [153]:
data['Size(in sq.ft)'] = data['Size(in sq.ft)'].astype(str).str[:-5].astype(np.int64)

In [154]:
data.head()

       Area  BHK  Floor  Land Size      Price  Price(in Lakhs)  Size(in sq.ft)
0  Alinagar    4      1  2000 sqft    ?70 Lac            700.0            2000
1  Alinagar    6      2  2500 sqft  ?70.0 Lac             70.0            2500
2  Alinagar    5      3  2000 sqft  ?65.0 Lac             65.0            2000
3  Alinagar    3      1  1500 sqft    ?45 Lac            450.0            1500
4  Alinagar    4      2  1500 sqft    ?55 Lac            550.0            1500

In [155]:
data['price_per_sqft'] = data['Price(in Lakhs)']*100000/data['Size(in sq.ft)']

In [156]:
data['price_per_sqft']

0      35000.000000
1       2800.000000
2       3250.000000
3      30000.000000
4      36666.666667
           ...
690    79954.954955
691    92643.051771
692      833.333333
693      833.333333
694      833.333333
Name: price_per_sqft, Length: 695, dtype: float64

In [157]:
data.describe()

              BHK       Floor  Price(in Lakhs)  Size(in sq.ft)  price_per_sqft
count  695.000000  695.000000       694.000000      695.000000      694.000000
mean     4.342446    1.961151       367.725648     2051.097842    30736.584480
std      2.736902    0.774179       320.157575     1579.484995    29618.472194
min      1.000000    1.000000        10.000000      270.000000      266.666667
25%      3.000000    1.000000        27.900000     1000.000000     1000.000000
50%      4.000000    2.000000       350.000000     1501.000000    32292.438844
75%      5.000000    2.000000       650.000000     2400.000000    49560.439560
max     25.000000    4.000000       990.000000     9000.000000   159259.259259

In [158]:
data['Area'].value_counts()

Betiahata                                                         47
Chargawa                                                          42
Taramandal                                                        38
Kunraghat                                                         36
Daudpur                                                           34
                                                                  ..
Opp Aakashwani CoLacony,Rapti Nagar III, Basharatpur,Gorakhpur     1
Hasanganj                                                          1
Humayunpur North                                                   1
Jatepur North                                                      1
Main market sahjanwa,Transport Nagar                               1
Name: Area, Length: 77, dtype: int64

In [159]:
data['Area'] = data['Area'].apply(lambda x: x.strip())
location_count = data['Area'].value_counts()

In [160]:
location_count

Betiahata                                            47
Chargawa                                             42
Taramandal                                           38
Kunraghat                                            36
Daudpur                                              34
                                                     ..
Jatepur North                                         1
AMV GD EncLacave                                      1
Kashipuram CoLacony,TP Nagar, Basantpur,Gorakhpur     1
Moharipur                                             1
KaLacepur                                             1
Name: Area, Length: 75, dtype: int64

In [161]:
location_count_less_4 = location_count[location_count<=10]
location_count_less_4

Hussain Nagar                                                                    7
Raiganj                                                                          7
Maniram                                                                          7
Jatepur                                                                          7
Aryanagar                                                                        6
near humayunpur shanimandir and near gokuLac apartment                           6
Millacennium City colony,RailVihar Ph-2 Colony, Raptinagar Phase -4,Gorakhpur    6
Rail Vihar Colony                                                                5
Ismailpur                                                                        5
Bakshipur                                                                        5
East basin, Brahmin society GDA coLacony                                         4
Chilmapur                                                                        4
Nanda Nagar                                                                      4
East Park facing pLacot                                                          4
ramgarh Lacake view                                                              3
Surajkund                                                                        3
NH 24                                                                            3
Near to 30 feet damar road highway                                               3
Saraswati Puram coLacony                                                         3
Ramjanki Nagar                                                                   3
Ramnagar Gorakhpur                                                               3
Miyan Bazar                                                                      3
Transport Nagar                                                                  3
jatepur north road                                                               3
BuiLact up III FLacoor in Main market, near Charan LacaLac chowk on road...      3
Ghasikatra                                                                       3
RaiLacway Stadium CoLacony                                                       2
MughaLaca                                                                        2
BiLacandpur                                                                      2
Phase 3rd                                                                        2
yy1                                                                              1
Basantpur                                                                        1
shivpur shahbajganj,Hussain Nagar                                                1
Shivpur Sahabajganj                                                              1
Dayanand Nagar                                                                   1
FertiLacizer CoLacony                                                            1
FLacorus GaLacaxy                                                                1
FLacorus GaLacaxy Tower                                                          1
Ramnagar  karjaha gorakhpur                                                      1
Mirzapur Pachpedwa                                                               1
Rajiv Nagar CoLacony                                                             1
Main market sahjanwa,Transport Nagar                                             1
Rail Vihar Colony Phase 3rd, Phase 3rd,Gorakhpur                                 1
harhawa Phatak                                                                   1
Hasanganj                                                                        1
Qazipur Khurd                                                                    1
Humayunpur North                                                                 1
Opp Aakashwani CoLacony,Rapti Nagar III, Basharatpur,Gorakhpur                   1
Jatepur North                                                                    1
AMV GD EncLacave                                                                 1
Kashipuram CoLacony,TP Nagar, Basantpur,Gorakhpur                                1
Moharipur                                                                        1
KaLacepur                                                                        1
Name: Area, dtype: int64

In [162]:
data['Area'] = data['Area'].apply(lambda x: 'other' if x in location_count_less_4 else x)

In [163]:
data['Area'].value_counts()

other                   144
Betiahata                47
Chargawa                 42
Taramandal               38
Kunraghat                36
Daudpur                  34
Azad Nagar               31
Rustampur                30
Padri Bazar              29
Alinagar                 26
Awas Vikas Colony        26
Ashok Nagar              23
Bade Kajipur             23
Golghar                  21
Basharatpur              21
Shahpur                  21
Gorakhnath               17
Ashuran Chowk            16
Mohaddipur               15
Gorakhpur                15
Bargadwa                 14
Raptinagar               14
Medical Collage Road     12
Name: Area, dtype: int64

In [164]:
data.describe()

              BHK       Floor  Price(in Lakhs)  Size(in sq.ft)  price_per_sqft
count  695.000000  695.000000       694.000000      695.000000      694.000000
mean     4.342446    1.961151       367.725648     2051.097842    30736.584480
std      2.736902    0.774179       320.157575     1579.484995    29618.472194
min      1.000000    1.000000        10.000000      270.000000      266.666667
25%      3.000000    1.000000        27.900000     1000.000000     1000.000000
50%      4.000000    2.000000       350.000000     1501.000000    32292.438844
75%      5.000000    2.000000       650.000000     2400.000000    49560.439560
max     25.000000    4.000000       990.000000     9000.000000   159259.259259

In [165]:
(data['Size(in sq.ft)']/data['BHK']).describe()

count     695.000000
mean      502.746312
std       307.624635
min        38.888889
25%       350.000000
50%       440.666667
75%       583.000000
max      2500.000000
dtype: float64

In [166]:
data = data[((data['Size(in sq.ft)']/data['BHK'])>=300)]
data.describe()

              BHK       Floor  Price(in Lakhs)  Size(in sq.ft)  price_per_sqft
count  581.000000  581.000000       580.000000      581.000000      580.000000
mean     4.046472    1.981067       375.296207     2255.611015    27835.369672
std      2.255929    0.790887       326.984366     1636.404826    25502.098909
min      1.000000    1.000000        10.000000      400.000000      266.666667
25%      2.000000    1.000000        27.500000     1173.000000      846.153846
50%      4.000000    2.000000       360.000000     1732.000000    31250.000000
75%      5.000000    3.000000       680.000000     2900.000000    46087.092732
max     12.000000    4.000000       990.000000     9000.000000    93333.333333

In [167]:
data.shape

(581, 8)

In [168]:
data['price_per_sqft'].describe()

count      580.000000
mean     27835.369672
std      25502.098909
min        266.666667
25%        846.153846
50%      31250.000000
75%      46087.092732
max      93333.333333
Name: price_per_sqft, dtype: float64

In [169]:
def remove_outliers_sqft(df):
    df_output = pd.DataFrame()
    for key,subdf in df.groupby('Area'):
        m = np.mean(subdf.price_per_sqft)
        st = np.std(subdf.price_per_sqft)
    
        gen_df = subdf[(subdf.price_per_sqft > (m-st)) & (subdf.price_per_sqft<=(m+st))]
        df_output = pd.concat([df_output,gen_df],ignore_index=True)
    return df_output
data = remove_outliers_sqft(data)
data.describe()

              BHK       Floor  Price(in Lakhs)  Size(in sq.ft)  price_per_sqft
count  384.000000  384.000000       384.000000      384.000000      384.000000
mean     3.924479    1.890625       410.732812     2191.541667    28057.999206
std      2.180384    0.793917       312.381387     1654.300582    20821.522636
min      1.000000    1.000000        10.500000      400.000000      266.666667
25%      2.000000    1.000000        60.000000     1173.000000     3499.159664
50%      3.000000    2.000000       400.000000     1680.000000    34215.010942
75%      5.000000    2.000000       680.000000     2448.000000    45000.000000
max     12.000000    4.000000       990.000000     9000.000000    70000.000000

In [170]:
def bhk_outliers_remover(df):
    exclude_indices = np.array([])
    for location,location_df in df.groupby('Area'):
        bhk_stats = {}
        for bhk, bhk_df in location_df.groupby('BHK'):
            bhk_stats[bhk]={
                'mean': np.mean(bhk_df.price_per_sqft),
                'std' : np.std(bhk_df.price_per_sqft),
                'count' : bhk_df.shape[0]
            }
       
        for bhk, bhk_df in location_df.groupby('BHK'):
            stats = bhk_stats.get(bhk-1)
            if stats and stats['count']>5:
                exclude_indices = np.append(exclude_indices,bhk_df[bhk_df.price_per_sqft<(stats['mean'])].index.values)
                
    return df.drop(exclude_indices,axis='index')

In [171]:
data = bhk_outliers_remover(data)

In [172]:
data.shape

(340, 8)

In [173]:
data

,Area,BHK,Floor,Land Size,Price,Price(in Lakhs),Size(in sq.ft),price_per_sqft
1,Alinagar,3,1,1500 sqft,?45 Lac,450.0,1500,30000.000000
2,Alinagar,4,2,1500 sqft,?55 Lac,550.0,1500,36666.666667
3,Alinagar,2,2,760 sqft,?35 Lac,350.0,760,46052.631579
4,Alinagar,3,2,1322 sqft,?47 Lac,470.0,1322,35552.193646
5,Alinagar,3,2,1467 sqft,?50.20 Lac,502.0,1467,34219.495569
...,...,...,...,...,...,...,...,...
379,other,4,3,1312 sqft,?65 Lac,650.0,1312,49542.682927
380,other,4,3,1312 sqft,?65 Lac,650.0,1312,49542.682927
381,other,10,3,3000 sqft,?2.50 Cr,25.0,3000,833.333333
382,other,10,3,3000 sqft,?2.50 Cr,25.0,3000,833.333333
383,other,10,3,3000 sqft,?2.50 Cr,25.0,3000,833.333333

In [174]:
data.drop(data.columns[[3,4,7]], axis = 1, inplace = True)

In [175]:
data.head()
data['BHK'] = data['BHK'].astype('float64')
data['Floor'] = data['Floor'].astype('float64')
data['Size(in sq.ft)'] = data['Size(in sq.ft)'].astype('float64')

In [176]:
data.to_csv("Cleaned_data.csv")

In [177]:
X=data.drop(columns=['Price(in Lakhs)'])
y=data['Price(in Lakhs)']

In [178]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression,Lasso,Ridge
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score

In [179]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=0)

In [180]:
print(X_train.shape)
print(X_test.shape)

(238, 4)
(102, 4)

In [181]:
OHE_model = OneHotEncoder(handle_unknown = 'ignore')
column_trans = make_column_transformer((OneHotEncoder(handle_unknown='ignore',sparse=False),['Area']),remainder='passthrough')

In [182]:
scaler = StandardScaler()

In [183]:
lr = LinearRegression(normalize=True)

In [184]:
pipe = make_pipeline(column_trans,scaler,lr)

In [185]:
pipe.fit(X_train,y_train)

c:\Users\hp\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\linear_model\_base.py:141: FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2.
If you wish to scale the data, use Pipeline with a StandardScaler in a preprocessing stage. To reproduce the previous behavior:

from sklearn.pipeline import make_pipeline

model = make_pipeline(StandardScaler(with_mean=False), LinearRegression())

If you wish to pass a sample_weight parameter, you need to pass it as a fit parameter to each step of the pipeline as follows:

kwargs = {s[0] + '__sample_weight': sample_weight for s in model.steps}
model.fit(X, y, **kwargs)


  warnings.warn(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(handle_unknown='ignore',
                                                                sparse=False),
                                                  ['Area'])])),
                ('standardscaler', StandardScaler()),
                ('linearregression', LinearRegression(normalize=True))])

In [186]:
y_pred_lr = pipe.predict(X_test)

In [187]:
r2_score(y_test,y_pred_lr)

0.3158668109559166

In [188]:
lasso = Lasso()

In [189]:
pipe = make_pipeline(column_trans,scaler,lasso)

In [190]:
pipe.fit(X_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(handle_unknown='ignore',
                                                                sparse=False),
                                                  ['Area'])])),
                ('standardscaler', StandardScaler()), ('lasso', Lasso())])

In [191]:
y_pred_lasso = pipe.predict(X_test)
r2_score(y_test,y_pred_lasso)

0.32386549399226205

In [192]:
ridge = Ridge()

In [193]:
pipe = make_pipeline(column_trans,scaler,ridge)

In [194]:
pipe.fit(X_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(handle_unknown='ignore',
                                                                sparse=False),
                                                  ['Area'])])),
                ('standardscaler', StandardScaler()), ('ridge', Ridge())])

In [195]:
y_pred_ridge = pipe.predict(X_test)
r2_score(y_test,y_pred_ridge)

0.3235031338472012

In [196]:
import pickle

In [197]:
pickle.dump(pipe, open('RidgeModel1.pkl','wb'))

In [198]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 340 entries, 1 to 383
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Area             340 non-null    object
 1   BHK              340 non-null    float64
 2   Floor            340 non-null    float64
 3   Price(in Lakhs)  340 non-null    float64
 4   Size(in sq.ft)   340 non-null    float64
dtypes: float64(4), object(1)
memory usage: 15.9+ KB